.cloudbg-wrapper {
  width: 100vw;
  height: 56.25vw;
  background-color: #0065a8;
  background-image: url("../images/cloudbg.png");
  background-position: 0 -8.69792vw;
  background-size: 100.83333vw 67.34375vw;
  background-repeat: no-repeat;
  transition: background-position 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active {
  background-position: 0 -55.78125vw;
  transition: background-position 1.18s cubic-bezier(0.22, 0.61, 0.35, 1) 0.24s;
}

.cloudbg-wrapper.active .home {
  background-position: -21.30208vw 16.97917vw, 37.70833vw 11.5625vw;
  transition: background-position 0.85s cubic-bezier(0.64, 0.04, 0.35, 1) 0.1s;
}

.cloudbg-wrapper.active .home .menu .logo {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .menu .logo-active {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .menu .logo-text, .cloudbg-wrapper.active .home .menu .menu-item, .cloudbg-wrapper.active .home .menu .icon-menu {
  color: #ffffff;
  transition: color 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .plane {
  top: 19.79167vw;
  left: 100vw;
  width: 120.625vw;
  height: 51.51042vw;
  transition: top 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, left 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, width 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, height 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s;
}

.cloudbg-wrapper.active .home .introduction {
  left: 100.83333vw;
  transition: left 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .form {
  top: 11.5625vw;
  left: 9.94792vw;
  transition: top .61s linear .18s, left .61s linear .18s;
}

.cloudbg-wrapper.active .home .return-btn {
  background-color: rgba(200, 200, 200, 0.24);
  transition: background-color 0.46s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .return-btn .icon-arrow {
  transform: rotate(270deg);
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 2.08333vw;
  padding-left: 3.48958vw;
  padding-right: 4.94792vw;
}

.menu .logo, .menu .logo-active {
  width: 2.03125vw;
  height: 1.97917vw;
  transition: opacity 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
  cursor: pointer;
}

.menu .logo {
  opacity: 1;
}

.menu .logo-active {
  margin-left: -2.03125vw;
  opacity: 0;
}

.menu .logo-text {
  margin-left: 0.625vw;
  font-size: 2.1875vw;
  font-weight: bold;
  color: #1392B4;
  cursor: pointer;
  transition: color 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.menu .menu-list {
  display: inline-flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 4.21875vw;
}

.menu .menu-list .menu-item {
  margin-left: 2.08333vw;
  max-width: 9.27083vw;
  font-size: 1.25vw;
  font-weight: bold;
  color: #0093B2;
  cursor: pointer;
  transition: color 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.menu .icon-menu {
  background-color: transparent;
  font-size: 1.875vw;
  color: #0093B2;
  transition: color 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud5.png"), url("../images/cloud-five.png");
  background-position: -21.30208vw 42.86458vw, 37.70833vw 37.44792vw;
  background-size: 42.55208vw 23.85417vw, 71.92708vw 37.65625vw;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-position 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .plane {
  position: absolute;
  top: 20vw;
  left: 1.61458vw;
  width: 48.80208vw;
  height: 20.83333vw;
  background-image: url("../images/plane.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 100;
  transition: top 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, width 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, height 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .introduction {
  position: absolute;
  bottom: 16.82292vw;
  left: 55.78125vw;
  width: 37.5vw;
  transition: left 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .introduction .sales {
  font-size: 1.875vw;
  color: #0093b2;
}

.home .introduction .discount {
  font-size: 4.73958vw;
  line-height: 4.73958vw;
  color: #0093b2;
}

.home .introduction .regions {
  font-size: 4.73958vw;
  font-weight: 800;
  line-height: 4.73958vw;
  color: #0093b2;
  word-spacing: 0.20833vw;
  letter-spacing: -0.20833vw;
}

.home .introduction .small-plane-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.52083vw;
}

.home .introduction .small-plane-wrapper .line {
  width: 28.125vw;
  height: 0.26042vw;
}

.home .introduction .small-plane-wrapper .small-plane {
  margin-left: 0.52083vw;
  width: 1.97917vw;
  height: 1.97917vw;
}

.home .introduction .book-now-btn {
  width: 14.21875vw;
  height: 3.28125vw;
  border-radius: 1.82292vw;
  background: linear-gradient(42.24deg, #F07FDE 0%, #8D44E7 100%);
  box-shadow: -0.26042vw 0.57292vw 1.30208vw #d26ddd;
  font-size: 1.875vw;
  font-weight: 800;
  color: #ffffff;
}

.home .form {
  position: absolute;
  top: 56.30208vw;
  left: 9.94792vw;
  padding: 1.5625vw 2.96875vw 0 3.4375vw;
  width: 80.10417vw;
  height: 36.14583vw;
  background-color: #e9f8fb;
  border-radius: 1.61458vw;
  box-shadow: -1.30208vw 1.30208vw 2.60417vw 0 rgba(0, 75, 121, 0.72);
  transition: top 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .form .form-title {
  font-size: 3.33333vw;
  color: #1392b4;
  text-align: center;
}

.home .form .radio-group {
  display: flex;
  align-items: center;
  margin-top: 2.1875vw;
}

.home .form .radio-group input {
  display: none;
}

.home .form .radio-group label {
  margin-right: 2.60417vw;
  font-size: 1.45833vw;
  color: #1392B4;
  cursor: pointer;
}

.home .form .radio-group .radio-icon {
  margin-right: 0.98958vw;
  display: inline-block;
  width: 1.66667vw;
  height: 1.66667vw;
  border-radius: 0.83333vw;
  background-color: #ffffff;
  box-shadow: 0 0.36458vw 0.46875vw 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.home .form .radio-group .radio-icon.active {
  background-color: #1392B4;
}

.home .form .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home .form .input-group input {
  margin-top: 2.70833vw;
  padding-left: 2.08333vw;
  width: 23.54167vw;
  height: 4.6875vw;
  border-radius: 0.9375vw;
  background-color: #fafeff;
  box-shadow: -0.52083vw 0.72917vw 1.04167vw 0 rgba(117, 117, 117, 0.17);
  font-size: 1.45833vw;
  color: #1392B4;
}

.home .form .input-group input::placeholder {
  font-size: inherit;
  color: #B0C1C6;
}

.home .form .input-group input:last-child {
  margin-left: 1.61458vw;
  margin-right: auto;
}

.home .form .search-flights-btn-wrapper {
  display: flex;
}

.home .form .search-flights-btn-wrapper .search-flights-btn {
  margin-top: 1.25vw;
  margin-left: auto;
  width: 23.54167vw;
  height: 4.6875vw;
  background-image: linear-gradient(42.24deg, #7FF0D2 0%, #4686E7 100%);
  border-radius: 0.9375vw;
  box-shadow: -0.26042vw 0.57292vw 1.30208vw 0 #6EC6DD;
  font-size: 2.34375vw;
  color: #ffffff;
}

.home .form .term-of-service {
  margin-top: 1.04167vw;
  font-size: 1.35417vw;
  color: #1392B4;
}

.home .return-btn {
  position: absolute;
  bottom: 3.90625vw;
  right: 4.16667vw;
  width: 2.13542vw;
  height: 2.13542vw;
  border: 0.10417vw solid rgba(255, 255, 255, 0.45);
  border-radius: 0.36458vw;
  background-color: rgba(200, 200, 200, 0);
  transition: background-color 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .return-btn .icon-arrow {
  display: inline-block;
  font-size: 1.25vw;
  color: rgba(255, 255, 255, 0.52);
  transform: rotate(0deg);
  transition: transform 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("../font/Poppins-ExtraBold.otf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */