.cloudbg-wrapper {
  width: 100vw;
  height: 56.25vw;
  background-color: #0065a8;
  background-image: url("../images/cloudbg.png");
  background-position: 0 -167px;
  background-repeat: no-repeat;
  transition: background-position 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active {
  background-position: 0 -1071px;
  transition: background-position 1.18s cubic-bezier(0.22, 0.61, 0.35, 1) 0.24s;
}

.cloudbg-wrapper.active .home {
  background-position: -409px 326px, 724px 222px;
  transition: background-position 0.85s cubic-bezier(0.64, 0.04, 0.35, 1) 0.1s;
}

.cloudbg-wrapper.active .home .plane {
  top: 380px;
  left: 1920px;
  width: 2316px;
  height: 989px;
  transition: top 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, left 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, width 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s, height 1.67s cubic-bezier(0.64, 0.04, 0.35, 1) 0.06s;
}

.cloudbg-wrapper.active .home .introduction {
  left: 1936px;
  transition: left 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.cloudbg-wrapper.active .home .form {
  top: 222px;
  left: 191px;
  transition: top .61s linear .18s, left .61s linear .18s;
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud5.png"), url("../images/cloud-five.png");
  background-position: -409px 823px, 724px 719px;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-position 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .plane {
  position: absolute;
  top: 384px;
  left: 31px;
  width: 937px;
  height: 400px;
  background-image: url("../images/plane.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 100;
  transition: top 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, width 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, height 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .introduction {
  position: absolute;
  bottom: 323px;
  left: 1071px;
  width: 720px;
  transition: left 1s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .introduction .sales {
  font-family: Poppins;
  font-size: 36px;
  color: #0093b2;
}

.home .introduction .discount {
  font-family: Poppins;
  font-size: 91px;
  line-height: 91px;
  color: #0093b2;
}

.home .introduction .regions {
  font-family: Poppins;
  font-size: 91px;
  font-weight: 800;
  line-height: 91px;
  color: #0093b2;
  word-spacing: 4px;
  letter-spacing: -4px;
}

.home .introduction .book-now-btn {
  width: 273px;
  height: 63px;
  border-radius: 35px;
  background: linear-gradient(42.24deg, #F07FDE 0%, #8D44E7 100%);
  box-shadow: -5px 11px 25px #d26ddd;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
}

.home .form {
  position: absolute;
  top: 1081px;
  left: 191px;
  padding: 36px 57px 0 66px;
  width: 1538px;
  height: 694px;
  background-color: #e9f8fb;
  border-radius: 31px;
  box-shadow: -25px 25px 50px 0 rgba(0, 75, 121, 0.72);
  transition: top 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s, left 1.6s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
}

.home .form .form-title {
  font-size: 64px;
  color: #1392b4;
  text-align: center;
}

.home .form .radio-group {
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.home .form .radio-group input {
  display: none;
}

.home .form .radio-group label {
  margin-right: 50px;
  font-size: 22px;
  color: #1392B4;
  cursor: pointer;
}

.home .form .radio-group i {
  margin-right: 19px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.home .form .radio-group i.active {
  background-color: #1392B4;
}

.home .form .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home .form .input-group input {
  margin-top: 52px;
  padding-left: 40px;
  width: 452px;
  height: 90px;
  border-radius: 18px;
  background-color: #fafeff;
  box-shadow: -10px 14px 20px 0 rgba(117, 117, 117, 0.17);
  font-size: 22px;
  color: #1392B4;
}

.home .form .input-group input::placeholder {
  font-size: 22px;
  color: #B0C1C6;
}

.home .form .input-group input:last-child {
  margin-left: 31px;
  margin-right: auto;
}

.home .form .search-flights-btn-wrapper {
  display: flex;
}

.home .form .search-flights-btn-wrapper .search-flights-btn {
  margin-top: 24px;
  margin-left: auto;
  padding: 22px 81px;
  padding-bottom: 23px;
  background-image: linear-gradient(42.24deg, #7FF0D2 0%, #4686E7 100%);
  border-radius: 18px;
  box-shadow: -5px 11px 25px 0 #6EC6DD;
  font-size: 45px;
  color: #ffffff;
}

.home .form .term-of-service {
  margin-top: 19px;
  font-size: 16px;
  color: #1392B4;
}

@font-face {
  font-family: BebasNeueBold;
  src: url("../font/BebasNeue/BebasNeue-Bold.otf");
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url("../font/Playfair/PlayfairDisplay-Bold.otf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../font/Poppins/Poppins-Regular.otf");
}

* {
  box-sizing: border-box;
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */