$plane-z-index: 100;

.cloudbg-wrapper {
  width: responsive(1920);
  height: responsive(1080);
  background-color: rgba(0, 101, 168, 1);
  background-image: url("../images/cloudbg.png");
  background-position: 0 responsive(-167);
  background-size: responsive(1936) responsive(1293);
  background-repeat: no-repeat;
  transition: background-position 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

  &.active {
    background-position: 0 responsive(-1071);
    transition: background-position 1.18s cubic-bezier(.22, .61, .35, 1) .24s;

    .home {
      background-position: responsive(-409) responsive(326), responsive(724) responsive(222);
      transition: background-position .85s cubic-bezier(.64, .04, .35, 1) .1s;

      .menu {
        .logo {
          opacity: 0;
          transition: opacity 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }

        .logo-active {
          opacity: 1;
          transition: opacity 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }

        .logo-text, .menu-item, .icon-menu {
          color: #ffffff;
          transition: color 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }
      }

      .plane {
        top: responsive(380);
        left: responsive(1920);
        width: responsive(2316);
        height: responsive(989);
        transition: top 1.67s cubic-bezier(.64, .04, .35, 1) .06s, left 1.67s cubic-bezier(.64, .04, .35, 1) .06s, width 1.67s cubic-bezier(.64, .04, .35, 1) .06s, height 1.67s cubic-bezier(.64, .04, .35, 1) .06s;
      }

      .introduction {
        left: responsive(1936);
        transition: left 1s cubic-bezier(.64, .04, .35, 1) 0s;
      }

      .form {
        top: responsive(222);
        left: responsive(191);
        transition: top .61s linear .18s, left .61s linear .18s;
      }

      .return-btn {
        background-color: rgba(200, 200, 200, .24);
        transition: background-color .46s cubic-bezier(.64, .04, .35, 1) 0s;

        .icon-arrow {
          transform: rotate(270deg);
          transition: transform 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding-top: responsive(40);
  padding-left: responsive(67);
  padding-right: responsive(95);

  .logo, .logo-active {
    width: responsive(39);
    height: responsive(38);
    transition: opacity 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    cursor: pointer;
  }

  .logo {
    opacity: 1;
  }
  .logo-active {
    margin-left: responsive(-39);
    opacity: 0;
  }

  .logo-text {
    margin-left: responsive(12);
    font-size: responsive(42);
    font-weight: bold;
    color: #1392B4;
    cursor: pointer;
    transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }

  .menu-list {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: responsive(81);

    .menu-item {
      margin-left: responsive(40);
      max-width: responsive(178);
      font-size: responsive(24);
      font-weight: bold;
      color: #0093B2;
      cursor: pointer;
      transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    }
  }

  .icon-menu {
    background-color: transparent;
    font-size: responsive(36);
    color: #0093B2;
    transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud5.png"), url("../images/cloud-five.png");
  background-position: responsive(-409) responsive(823), responsive(724) responsive(719);
  background-size: responsive(817) responsive(458), responsive(1381) responsive(723);
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-position 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

  .plane {
    position: absolute;
    top: responsive(384);
    left: responsive(31);
    width: responsive(937);
    height: responsive(400);
    background-image: url("../images/plane.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: $plane-z-index;
    transition: top 1.6s cubic-bezier(.64, .04, .35, 1) 0s, left 1.6s cubic-bezier(.64, .04, .35, 1) 0s, width 1.6s cubic-bezier(.64, .04, .35, 1) 0s, height 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }

  .introduction {
    position: absolute;
    bottom: responsive(323);
    left: responsive(1071);
    width: responsive(720);
    transition: left 1s cubic-bezier(.64, .04, .35, 1) 0s;

    .sales {
      font-size: responsive(36);
      color: #0093b2;
    }

    .discount {
      font-size: responsive(91);
      line-height: responsive(91);
      color: #0093b2;
    }

    .regions {
      font-size: responsive(91);
      font-weight: 800;
      line-height: responsive(91);
      color: #0093b2;
      word-spacing: responsive(4);
      letter-spacing: responsive(-4);
    }

    .small-plane-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: responsive(10);

      .line {
        width: responsive(540);
        height: responsive(5);
      }

      .small-plane {
        margin-left: responsive(10);
        width: responsive(38);
        height: responsive(38);
      }
    }

    .book-now-btn {
      width: responsive(273);
      height: responsive(63);
      border-radius: responsive(35);
      background: linear-gradient(42.24deg, #F07FDE 0%, #8D44E7 100%);
      box-shadow: responsive(-5) responsive(11) responsive(25) #d26ddd;
      font-size: responsive(36);
      font-weight: 800;
      color: #ffffff;
    }
  }

  .form {
    position: absolute;
    top: responsive(1081);
    left: responsive(191);
    padding: responsive(30) responsive(57) 0 responsive(66);
    width: responsive(1538);
    height: responsive(694);
    background-color: #e9f8fb;
    border-radius: responsive(31);
    box-shadow: responsive(-25) responsive(25) responsive(50) 0 rgba(0, 75, 121, .72);
    transition: top 1.6s cubic-bezier(.64, .04, .35, 1) 0s, left 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

    .form-title {
      font-size: responsive(64);
      color: #1392b4;
      text-align: center;
    }

    .radio-group {
      display: flex;
      align-items: center;
      margin-top: responsive(42);

      input {
        display: none;
      }

      label {
        margin-right: responsive(50);
        font-size: responsive(28);
        color: #1392B4;
        cursor: pointer;
      }

      .radio-icon {
        margin-right: responsive(19);
        display: inline-block;
        width: responsive(32);
        height: responsive(32);
        border-radius: responsive(16);
        background-color: #ffffff;
        box-shadow: 0 responsive(7) responsive(9) 0 rgba(0, 0, 0, .11);
        cursor: pointer;

        &.active {
          background-color: #1392B4;
        }
      }
    }

    .input-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        margin-top: responsive(52);
        padding-left: responsive(40);
        width: responsive(452);
        height: responsive(90);
        border-radius: responsive(18);
        background-color: #fafeff;
        box-shadow: responsive(-10) responsive(14) responsive(20) 0 rgba(117, 117, 117, .17);
        font-size: responsive(28);
        color: #1392B4;

        &::placeholder {
          font-size: inherit;
          color: #B0C1C6;
        }

        &:last-child {
          margin-left: responsive(31);
          margin-right: auto;
        }
      }
    }

    .search-flights-btn-wrapper {
      display: flex;

      .search-flights-btn {
        margin-top: responsive(24);
        margin-left: auto;
        width: responsive(452);
        height: responsive(90);
        background-image: linear-gradient(42.24deg, #7FF0D2 0%, #4686E7 100%);
        border-radius: responsive(18);
        box-shadow: responsive(-5) responsive(11) responsive(25) 0 #6EC6DD;
        font-size: responsive(45);
        color: #ffffff;
      }
    }
    

    .term-of-service {
      margin-top: responsive(20);
      font-size: responsive(26);
      color: #1392B4;
    }
  }

  .return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: responsive(75);
    right: responsive(80);
    width: responsive(41);
    height: responsive(41);
    border: responsive(2) solid rgba(255, 255, 255, .45);
    border-radius: responsive(7);
    background-color: rgba(200, 200, 200, 0);
    transition: background-color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

    .icon-arrow {
      display: inline-block;
      font-size: responsive(24);
      color: rgba(255, 255, 255, .52);
      transform: rotate(0deg);
      transition: transform 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    }
  }
}