$plane-z-index: 100;

.cloudbg-wrapper {
  width: px2vw(1920);
  height: px2vw(1080);
  background-color: rgba(0, 101, 168, 1);
  background-image: url("../images/cloudbg.png");
  background-position: 0 px2vw(-167);
  background-size: px2vw(1936) px2vw(1293);
  background-repeat: no-repeat;
  transition: background-position 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

  &.active {
    background-position: 0 px2vw(-1071);
    transition: background-position 1.18s cubic-bezier(.22, .61, .35, 1) .24s;

    .home {
      background-position: px2vw(-409) px2vw(326), px2vw(724) px2vw(222);
      transition: background-position .85s cubic-bezier(.64, .04, .35, 1) .1s;

      .menu {
        .logo {
          opacity: 0;
          transition: opacity 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }

        .logo-active {
          opacity: 1;
          transition: opacity 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }

        .logo-text, .menu-item, .icon-menu {
          color: #ffffff;
          transition: color 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }
      }

      .plane {
        top: px2vw(380);
        left: px2vw(1920);
        width: px2vw(2316);
        height: px2vw(989);
        transition: top 1.67s cubic-bezier(.64, .04, .35, 1) .06s, left 1.67s cubic-bezier(.64, .04, .35, 1) .06s, width 1.67s cubic-bezier(.64, .04, .35, 1) .06s, height 1.67s cubic-bezier(.64, .04, .35, 1) .06s;
      }

      .introduction {
        left: px2vw(1936);
        transition: left 1s cubic-bezier(.64, .04, .35, 1) 0s;
      }

      .form {
        top: px2vw(222);
        left: px2vw(191);
        transition: top .61s linear .18s, left .61s linear .18s;
      }

      .return-btn {
        background-color: rgba(200, 200, 200, .24);
        transition: background-color .46s cubic-bezier(.64, .04, .35, 1) 0s;

        .icon-arrow {
          transform: rotate(270deg);
          transition: transform 1s cubic-bezier(.64, .04, .35, 1) 0s;
        }
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding-top: px2vw(40);
  padding-left: px2vw(67);
  padding-right: px2vw(95);

  .logo, .logo-active {
    width: px2vw(39);
    height: px2vw(38);
    transition: opacity 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    cursor: pointer;
  }

  .logo {
    opacity: 1;
  }
  .logo-active {
    margin-left: px2vw(-39);
    opacity: 0;
  }

  .logo-text {
    margin-left: px2vw(12);
    font-size: px2vw(42);
    font-weight: bold;
    color: #1392B4;
    cursor: pointer;
    transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }

  .menu-list {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: px2vw(81);

    .menu-item {
      margin-left: px2vw(40);
      max-width: px2vw(178);
      font-size: px2vw(24);
      font-weight: bold;
      color: #0093B2;
      cursor: pointer;
      transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    }
  }

  .icon-menu {
    background-color: transparent;
    font-size: px2vw(36);
    color: #0093B2;
    transition: color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }
}

.home {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/cloud5.png"), url("../images/cloud-five.png");
  background-position: px2vw(-409) px2vw(823), px2vw(724) px2vw(719);
  background-size: px2vw(817) px2vw(458), px2vw(1381) px2vw(723);
  background-repeat: no-repeat;
  overflow: hidden;
  transition: background-position 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

  .plane {
    position: absolute;
    top: px2vw(384);
    left: px2vw(31);
    width: px2vw(937);
    height: px2vw(400);
    background-image: url("../images/plane.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: $plane-z-index;
    transition: top 1.6s cubic-bezier(.64, .04, .35, 1) 0s, left 1.6s cubic-bezier(.64, .04, .35, 1) 0s, width 1.6s cubic-bezier(.64, .04, .35, 1) 0s, height 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
  }

  .introduction {
    position: absolute;
    bottom: px2vw(323);
    left: px2vw(1071);
    width: px2vw(720);
    transition: left 1s cubic-bezier(.64, .04, .35, 1) 0s;

    .sales {
      font-size: px2vw(36);
      color: #0093b2;
    }

    .discount {
      font-size: px2vw(91);
      line-height: px2vw(91);
      color: #0093b2;
    }

    .regions {
      font-size: px2vw(91);
      font-weight: 800;
      line-height: px2vw(91);
      color: #0093b2;
      word-spacing: px2vw(4);
      letter-spacing: px2vw(-4);
    }

    .small-plane-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: px2vw(10);

      .line {
        width: px2vw(540);
        height: px2vw(5);
      }

      .small-plane {
        margin-left: px2vw(10);
        width: px2vw(38);
        height: px2vw(38);
      }
    }

    .book-now-btn {
      width: px2vw(273);
      height: px2vw(63);
      border-radius: px2vw(35);
      background: linear-gradient(42.24deg, #F07FDE 0%, #8D44E7 100%);
      box-shadow: px2vw(-5) px2vw(11) px2vw(25) #d26ddd;
      font-size: px2vw(36);
      font-weight: 800;
      color: #ffffff;
    }
  }

  .form {
    position: absolute;
    top: px2vw(1081);
    left: px2vw(191);
    padding: px2vw(30) px2vw(57) 0 px2vw(66);
    width: px2vw(1538);
    height: px2vw(694);
    background-color: #e9f8fb;
    border-radius: px2vw(31);
    box-shadow: px2vw(-25) px2vw(25) px2vw(50) 0 rgba(0, 75, 121, .72);
    transition: top 1.6s cubic-bezier(.64, .04, .35, 1) 0s, left 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

    .form-title {
      font-size: px2vw(64);
      color: #1392b4;
      text-align: center;
    }

    .radio-group {
      display: flex;
      align-items: center;
      margin-top: px2vw(42);

      input {
        display: none;
      }

      label {
        margin-right: px2vw(50);
        font-size: px2vw(28);
        color: #1392B4;
        cursor: pointer;
      }

      .radio-icon {
        margin-right: px2vw(19);
        display: inline-block;
        width: px2vw(32);
        height: px2vw(32);
        border-radius: px2vw(16);
        background-color: #ffffff;
        box-shadow: 0 px2vw(7) px2vw(9) 0 rgba(0, 0, 0, .11);
        cursor: pointer;

        &.active {
          background-color: #1392B4;
        }
      }
    }

    .input-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        margin-top: px2vw(52);
        padding-left: px2vw(40);
        width: px2vw(452);
        height: px2vw(90);
        border-radius: px2vw(18);
        background-color: #fafeff;
        box-shadow: px2vw(-10) px2vw(14) px2vw(20) 0 rgba(117, 117, 117, .17);
        font-size: px2vw(28);
        color: #1392B4;

        &::placeholder {
          font-size: inherit;
          color: #B0C1C6;
        }

        &:last-child {
          margin-left: px2vw(31);
          margin-right: auto;
        }
      }
    }

    .search-flights-btn-wrapper {
      display: flex;

      .search-flights-btn {
        margin-top: px2vw(24);
        margin-left: auto;
        width: px2vw(452);
        height: px2vw(90);
        background-image: linear-gradient(42.24deg, #7FF0D2 0%, #4686E7 100%);
        border-radius: px2vw(18);
        box-shadow: px2vw(-5) px2vw(11) px2vw(25) 0 #6EC6DD;
        font-size: px2vw(45);
        color: #ffffff;
      }
    }
    

    .term-of-service {
      margin-top: px2vw(20);
      font-size: px2vw(26);
      color: #1392B4;
    }
  }

  .return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: px2vw(75);
    right: px2vw(80);
    width: px2vw(41);
    height: px2vw(41);
    border: px2vw(2) solid rgba(255, 255, 255, .45);
    border-radius: px2vw(7);
    background-color: rgba(200, 200, 200, 0);
    transition: background-color 1.6s cubic-bezier(.64, .04, .35, 1) 0s;

    .icon-arrow {
      display: inline-block;
      font-size: px2vw(24);
      color: rgba(255, 255, 255, .52);
      transform: rotate(0deg);
      transition: transform 1.6s cubic-bezier(.64, .04, .35, 1) 0s;
    }
  }
}